{{outlet}}
<div class="container">
  <div class="success"></div>
  <div class="text-page">
    <h1>{{email}}</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Session</th>
          <th>User Email</th>
          <th>Result</th>
          <th>Time used</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each result in results}}
          <tr {{bind-attr class="result.class"}}>
            <td>{{result.id}}</td>
            <td>{{result.user}}</td>
            <td>{{result.correct.length}}/{{result.questions.length}}</td>
            <td>35 min out of 60 min</td>
            <td>{{result.status}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
