{{outlet}}
<div class="container up">
  <div class="admin">
    <form {{action "addQuestion" on="submit"}}>
      <div>
        {{textarea class="question" type="text" value=question placeholder="Type or paste question here ..."}}
      </div>
      <div>
        {{radio-button class="radio" value="one" checked=correct}}
        {{textarea class="option" type="text" value=opt_one placeholder="Type or paste question here ..."}}
      </div>
      <div>
        {{radio-button class="radio" value="two" checked=correct}}
        {{textarea class="option" type="text" value=opt_two placeholder="Type or paste question here ..."}}
      </div>
      <div>
        {{radio-button class="radio" value="three" checked=correct}}
        {{textarea class="option" type="text" value=opt_three placeholder="Type or paste question here ..."}}
      </div>
      <div>
        {{radio-button class="radio" value="four" checked=correct}}
        {{textarea class="option" type="text" value=opt_four placeholder="Type or paste question here ..."}}
      </div>
      <div class="selectors">
        <div class="side-by-side">
          <label>Level of Difficulty: </label>
          {{view "select" content=difficulities value=difficulty class="normal-mid half"}}
        </div>
        <div class="side-by-side">
          <label>Type of Question: </label>
          {{view "select" content=types value=type class="normal-mid long"}}
        </div>
      </div>
      <div class="selectors">
        <div class="side-by-side">
          {{input class="normal" type="submit" value="Add quiz"}}
        </div>
        <div class="side-by-side">
          {{input class="cancel" type="submit" value="Cancel"}}
        </div>
      </div>
    </form>
  </div>
</div>
