{{outlet}}
<div class="container">
  <div class="page">
    <form class="register" {{action "createUser" on="submit"}}>
      {{input class="normal-input" value=email type="email" placeholder="email"}}
      {{input class="normal-input" value=password type="password" placeholder="password"}}
      {{input class="normal-input" value=confirmPassword type="password" placeholder="confirm password"}}
      {{input class="normal-input" value=key type="text" placeholder="session"}}
      <button class="button normal" type="submit">Register</button>
      {{#if errorMessage}}
        <p>{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>
</div>
